{{#if isPhone}}
<div data-role="header" data-position="fixed">
  <a href="#" data-role="button" data-icon="arrow-l" data-iconpos="left" data-inline="true" id="back-btn">Back</a>
  <h1>Github Repos</h1>
</div>
<div data-role="content">
{{/if}}
  <table data-role="table" id="table-column-toggle" class="ui-responsive table-stroke">
    <thead>
      <tr>
        <th>Repositories</th>
        <th>Stars</th>
        <th>Forks</th>
      </tr>
    </thead>
    <tbody>
      {{#each repos}}
      <tr>
        <th>{{name}}</th>
        <th>{{watchers}}</th>
        <th>{{forks}}</th>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{#if isPhone}}
</div>
<div data-role="footer" data-position="fixed" data-tap-toggle="false">
  <h4>Version - 1.0.0</h4>
</div>
{{/if}}